 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/download3.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-text-1 {
  margin: 748px 700px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 500px;
    margin-left: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 90px;
    margin-left: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 85px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 672px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 31px auto 0 25px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  padding-left: 55px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 8px auto 0 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 53px;
  font-size: 1.25rem;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 8px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  padding-left: 59px;
  margin: 25px 720px 0 20px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  padding-left: 48px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-6 {
    margin-right: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    margin-right: 130px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/default-image.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 601px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 52px;
  height: 52px;
  margin: 56px 171px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0 253px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 16px 42px 0 788px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: -38px 655px 0 71px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px 662px 0 58px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -84px 33px 0 779px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 28px;
  padding: 15px 31px 16px 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 526px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 520px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 612px;
  }

  .u-section-3 .u-btn-1 {
    --radius: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-4 {
    margin-left: 410px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 306px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 300px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-left: 220px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 116px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 12px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1674px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 854px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  height: 431px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-4 .u-text-1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Alkalami;
  font-size: 1.875rem;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 861px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  height: 431px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-4 .u-text-2 {
  font-family: Alkalami;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: -18px;
  margin-bottom: 46px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 835px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 361px;
  margin-top: 0;
  margin-bottom: 0;
  width: 361px;
  --radius: 10px;
}

.u-section-4 .u-text-3 {
  font-family: Alkalami;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 835px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-image-4 {
  height: 361px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-4 .u-text-4 {
  font-family: Alkalami;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-4 .u-image-1 {
    height: 356px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-4 .u-image-2 {
    height: 356px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 689px;
  }

  .u-section-4 .u-image-3 {
    height: 298px;
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 689px;
  }

  .u-section-4 .u-image-4 {
    height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 273px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 273px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 211px;
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-4 .u-image-1 {
    height: 402px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-2 {
    height: 402px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-3 {
    height: 311px;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-4 {
    height: 336px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 258px;
  }

  .u-section-4 .u-image-2 {
    height: 258px;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    height: 216px;
  }
}